In [2]:
!pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.12-py3-none-any.whl.metadata (38 kB)
Requirement already satisfied: packaging in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from kagglehub) (24.2)
Requirement already satisfied: pyyaml in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from requests->kagglehub) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from requests->kagglehub) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from requests->kagglehub) (2025.1.31)
Requirement already satisfied: colorama in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.12-py3-none-any.whl (67 kB)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.12

In [6]:
# Install required package if not already installed
# pip install kagglehub[pandas-datasets]

import kagglehub
from kagglehub import KaggleDatasetAdapter
import pandas as pd

# Specify the file name exactly as it appears in the dataset
file_path = "StudentsPerformance.csv"  # Note the capital 'S' and 'P'

# Load the dataset using KaggleDatasetAdapter
df = kagglehub.load_dataset(
    KaggleDatasetAdapter.PANDAS,
    "spscientist/students-performance-in-exams",
    file_path
)

C:\Users\HP\AppData\Local\Temp\ipykernel_10496\596629967.py:12: DeprecationWarning: load_dataset is deprecated and will be removed in a future version.
  df = kagglehub.load_dataset(

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [17]:
# Parental education level is linked with the highest average math score
avg_math_score = df.groupby("parental level of education")["math score"].mean()
print(avg_math_score)

parental level of education
associate's degree    67.882883
bachelor's degree     69.389831
high school           62.137755
master's degree       69.745763
some college          67.128319
some high school      63.497207
Name: math score, dtype: float64

In [21]:
# Score difference between males and females across all subjects
gender_math = df.groupby("gender")["math score"].mean()
gender_read = df.groupby("gender")["reading score"].mean()
gender_write = df.groupby("gender")["writing score"].mean()

print(f"Math Avg by Subject:\n{gender_math}\n")
print(f"Reading Avg by Subject:\n{gender_read}\n")
print(f"Writing Avg by Subject:\n{gender_write}\n")

Math Avg by Subject:
gender
female    63.633205
male      68.728216
Name: math score, dtype: float64

Reading Avg by Subject:
gender
female    72.608108
male      65.473029
Name: reading score, dtype: float64

Writing Avg by Subject:
gender
female    72.467181
male      63.311203
Name: writing score, dtype: float64

In [23]:
# Does completing the test preparation course improve performance in each subject?
preparation_math = df.groupby("test preparation course")["math score"].mean()
preparation_read = df.groupby("test preparation course")["reading score"].mean()
preparation_write = df.groupby("test preparation course")["writing score"].mean()

print(f"Maths:\n{preparation_math}\n")
print(f"Read:\n{preparation_read}\n")
print(f"Writing:\n{preparation_write}\n")

Maths:
test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64

Read:
test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64

Writing:
test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

In [6]:
# Which combination of gender, lunch type, and test preparation status produces the top 10% of scores?

below90_math = df["math score"].quantile(0.90)
top10_math = df[df["math score"]>below90_math]

below90_read = df["reading score"].quantile(0.90)
top10_read = df[df["reading score"]>below90_read]

below90_write = df["writing score"].quantile(0.90)
top10_write = df[df["writing score"]>below90_write]

combination_math = top10_math.groupby(["gender","lunch", "test preparation course"])["math score"].agg(["count","mean"])
print(f"Maths: \n{combination_math}\n")

combination_read = top10_read.groupby(["gender","lunch", "test preparation course"])["reading score"].agg(["count","mean"])
print(f"Reading: \n{combination_read}\n")

combination_write = top10_write.groupby(["gender","lunch", "test preparation course"])["writing score"].agg(["count","mean"])
print(f"Writing: \n{combination_write}")

Maths:
                                             count       mean
gender lunch        test preparation course
female free/reduced completed                    2  92.500000
       standard     completed                   18  91.833333
                    none                        15  93.000000
male   free/reduced completed                    4  91.250000
                    none                         5  89.600000
       standard     completed                   27  92.592593
                    none                        24  90.500000

Reading:
                                             count       mean
gender lunch        test preparation course
female free/reduced completed                   12  92.666667
                    none                         4  90.250000
       standard     completed                   28  94.321429
                    none                        36  93.166667
male   free/reduced completed                    3  93.000000
                    none                         2  90.000000
       standard     completed                   11  93.545455
                    none                         4  91.500000

Writing:
                                             count       mean
gender lunch        test preparation course
female free/reduced completed                   11  93.454545
                    none                         3  90.666667
       standard     completed                   35  93.771429
                    none                        31  93.709677
male   free/reduced completed                    3  90.333333
       standard     completed                   12  92.166667
                    none                         3  90.666667

In [42]:
# Does lunch type have a uniform impact across all race/ethnicity groups, or does its effect vary?
lunch_race = df.groupby("race/ethnicity")["lunch"].value_counts()
print(lunch_race)

race/ethnicity  lunch
group A         standard         53
                free/reduced     36
group B         standard        121
                free/reduced     69
group C         standard        205
                free/reduced    114
group D         standard        167
                free/reduced     95
group E         standard         99
                free/reduced     41
Name: count, dtype: int64

In [5]:
# Correlation b/w reading/math and writing scores
read_corr_write = df["reading score"].corr(df["writing score"])
math_corr_write = df["math score"].corr(df["writing score"])

print(f"Reading score correlation score with writing score: {read_corr_write}")
print(f"Math score correlation score with writing score: {math_corr_write}")

Reading score correlation score with writing score: 0.9545980771462478
Math score correlation score with writing score: 0.8026420459498085

In [7]:
# Demographics of top 10% students

demograph_math = top10_math.groupby(["gender","race/ethnicity", "parental level of education"])["math score"].agg(["count","mean"])
print(f"Maths: \n{demograph_math}\n")

demograph_read = top10_read.groupby(["gender","race/ethnicity", "parental level of education"])["reading score"].agg(["count","mean"])
print(f"Reading: \n{demograph_read}\n")

demograph_write = top10_write.groupby(["gender","race/ethnicity", "parental level of education"])["writing score"].agg(["count","mean"])
print(f"Writing: \n{demograph_write}")

Maths:
                                                   count        mean
gender race/ethnicity parental level of education
female group A        some high school                 1   92.000000
       group B        associate's degree               2   92.000000
                      bachelor's degree                1   97.000000
                      high school                      1   87.000000
                      master's degree                  1   90.000000
                      some college                     1   88.000000
       group C        associate's degree               3   92.666667
                      bachelor's degree                2   94.000000
                      some college                     3   87.666667
       group D        associate's degree               1   88.000000
                      bachelor's degree                2   91.000000
                      high school                      1   88.000000
                      master's degree                  2   89.500000
                      some college                     1   98.000000
                      some high school                 1   97.000000
       group E        associate's degree               4   93.750000
                      bachelor's degree                3   97.000000
                      high school                      1   99.000000
                      master's degree                  2   91.000000
                      some college                     2   93.500000
male   group A        associate's degree               1   97.000000
                      bachelor's degree                2   89.000000
                      some college                     1  100.000000
       group B        associate's degree               3   89.333333
                      bachelor's degree                2   87.500000
                      some college                     3   88.666667
                      some high school                 2   91.000000
       group C        associate's degree               5   92.200000
                      bachelor's degree                3   93.666667
                      high school                      2   89.000000
                      master's degree                  1   91.000000
                      some college                     3   94.000000
       group D        associate's degree               3   89.000000
                      bachelor's degree                1   88.000000
                      high school                      2   88.500000
                      master's degree                  2   92.000000
                      some college                     3   92.000000
                      some high school                 2   88.500000
       group E        associate's degree               7   92.571429
                      bachelor's degree                1  100.000000
                      high school                      2   90.500000
                      master's degree                  1   90.000000
                      some college                     4   94.000000
                      some high school                 4   90.500000

Reading:
                                                   count        mean
gender race/ethnicity parental level of education
female group A        associate's degree               1   93.000000
                      high school                      1   88.000000
                      some high school                 2   95.000000
       group B        associate's degree               2   92.000000
                      bachelor's degree                1   97.000000
                      high school                      2   93.000000
                      master's degree                  3   94.000000
                      some college                     1   95.000000
                      some high school                 2   89.500000
       group C        associate's degree               4   93.250000
                      bachelor's degree                8   93.375000
                      high school                      1   88.000000
                      master's degree                  1   91.000000
                      some college                     7   90.857143
                      some high school                 3   91.000000
       group D        associate's degree               6   90.833333
                      bachelor's degree                4   94.750000
                      high school                      2   95.500000
                      master's degree                  4   96.500000
                      some college                     5   93.000000
                      some high school                 4   94.750000
       group E        associate's degree               7   94.000000
                      bachelor's degree                3  100.000000
                      high school                      1   93.000000
                      master's degree                  3   96.666667
                      some college                     2   90.000000
male   group A        associate's degree               1   92.000000
                      bachelor's degree                1   96.000000
                      some college                     1   96.000000
       group B        associate's degree               1   89.000000
                      bachelor's degree                1   90.000000
                      some college                     1   96.000000
       group C        associate's degree               2   96.500000
                      bachelor's degree                2   90.000000
                      high school                      1   89.000000
       group D        master's degree                  1   89.000000
                      some college                     1   97.000000
                      some high school                 1   88.000000
       group E        associate's degree               2   95.000000
                      bachelor's degree                1  100.000000
                      high school                      1   91.000000
                      some college                     1   90.000000
                      some high school                 1   88.000000

Writing:
                                                   count        mean
gender race/ethnicity parental level of education
female group A        associate's degree               1   93.000000
                      some college                     1   91.000000
                      some high school                 2   94.500000
       group B        associate's degree               2   91.500000
                      bachelor's degree                1   96.000000
                      high school                      2   89.000000
                      master's degree                  2   93.500000
                      some college                     2   92.000000
                      some high school                 1   88.000000
       group C        associate's degree               6   93.500000
                      bachelor's degree                7   93.857143
                      some college                    10   91.100000
                      some high school                 2   90.500000
       group D        associate's degree               6   91.500000
                      bachelor's degree                4   95.500000
                      high school                      1  100.000000
                      master's degree                  5   97.400000
                      some college                     5   94.600000
                      some high school                 3   94.666667
       group E        associate's degree               7   93.714286
                      bachelor's degree                3  100.000000
                      high school                      1   90.000000
                      master's degree                  3   95.333333
                      some college                     3   93.666667
male   group A        bachelor's degree                1   92.000000
       group B        associate's degree               1   92.000000
                      bachelor's degree                1   88.000000
                      some college                     1   91.000000
       group C        associate's degree               3   92.000000
                      bachelor's degree                2   91.500000
                      some college                     2   90.000000
       group D        master's degree                  2   89.500000
                      some college                     2   93.500000
       group E        associate's degree               2   90.500000
                      bachelor's degree                1  100.000000

In [28]:
df["total_percentage"] = round((df["math score"] + df["reading score"] + df["writing score"])/3,2)

labels = ["Low", "Medium", "High"]
bins = [0, 60, 80, 100]

df["Performance Category"] = pd.cut(df["total_percentage"],bins=bins,labels=labels)
print(df["Performance Category"].value_counts())

Performance Category
Medium    513
Low       293
High      194
Name: count, dtype: int64

In [29]:
df.to_csv("students_performance.csv", index=False)